<h1>Nouveau Dossier</h1>
<div class="field">
    <label for='name'>
        <input type="text" name="name" placeholder="Nom" id="name" required>
    </label>
</div>
<input type="button" value="Créer le dossier" onclick="{{ctx 'mkdir()'}}">