search-bar {
  display: flex;
  border-radius: 100px;
  overflow: clip;
  flex-grow: 1;
  margin: 5px 0;
  justify-content: end;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.16);

  input {
    margin: 0;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  img {
    position: absolute;
    width: 25px;
    margin-right: 25px;
    filter: brightness(0.4);
  }

  @media (orientation: portrait) {
    & {
      display: none;
    }
  }
}