@import "base_design/a";
@import "base_design/buttons";
@import "base_design/inputs";
@import "base_design/textarea";

@import "common/utils";

body {
  width: 100vw;
  height: 100vh;
  background-color: #282f3d;
  display: table;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: Bahnschrift, sans-serif;
  overflow: hidden;

  .app-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

@import "components/context_action";
@import "components/main/outliner";
@import "components/main/toolbar";
@import "components/main/viewport";
@import "components/modal";
@import "components/item";
@import "components/progress-bar";
@import "components/repos-viewport/repos_toolbar";

@import "views/auth";
@import "views/item-preview";
@import "views/upload";
@import "views/delete-repos";
@import "views/create-repos";

@import "user-viewport";
@import "repos_viewport";
@import "components/message_box";

