extends ../layout

block content
    div.login
        h1 Mot de passe oublié
        form(action="forgot-password", method="post")
            label(for='username')
            input(type="email", name="email", placeholder="e-mail", id="username", required)

            input(type="submit", value="Renouveler le mot de passe")