extends ../layout

block content
    div.login
        h1 Connexion
        form(action="signin", method="post")
            label(for='username')
            input(type="text", name="username", placeholder="Nom / e-mail", id="username", required)
            label(for='password')
            input(type="password", name="password", placeholder="mot de passe", id="password", required)

            a(href="./forgot-password") mot de passe oublié

            if (locals.error)
                p.error #{error}

            div.bottom-button
                input(type="button", value="Créer un compte", onclick="window.location.href = './signup'")
                input(type="submit", value="Se connecter")