extends ../layout

block content
    div.login
        h1 Nouveau compte
        form(action="signup", method="post")
            label(for='username')
            input(type="text", name="username", placeholder="Nom d'utilisateur", id="username", required)
            label(for='password')
            input(type="email", name="email", placeholder="e-mail", id="email", required)
            label(for='password')
            input(type="password", name="password", placeholder="Password", id="password", required)

            if (locals.error)
                p.error #{error}

            div.bottom-button
                input(type="button", value="Se connecter", onclick="window.location.href = './signin'")
                input(type="submit", value="Créer le compte")