<div>
    <div class='object-button'>
        <div class="item-preview folder">
            <img src="/images/icons/icons8-folder-96.png" alt="ddosser">
            <p>{{name}}</p>
        </div>
    </div>
</div>
