page-stats {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: scroll;

  .categories {
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
    }
    & > div {
      display: flex;
      margin-right:  10px;

      & > div {
        display: flex;
        flex-direction: column;
        margin-right:  10px;

        & > div {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }

  .hardware {
    background-color: #141417;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cat {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 30px;
    }

    .progress {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      margin: 5px 0;

      h2 {
        font-weight: 100;
        font-size: 20px;
        margin: 0 auto 0 0;
      }

      .bar-container {
        display: flex;
        left: 100px;
        top: 0;
        right: 20px;
        bottom: 0;
        position: absolute;
        background-color: #4b4b4b;
        align-items: center;
        justify-content: center;

        p {
          position: relative;
          z-index: 10;
          margin: 0;
        }

        .bar {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          transition-duration: 0.5s;
          width: 50%;
          height: 100%;
          background-color: #00ff04;
        }
      }
    }
  }
}