
div.fileshare {
    display:flex;
    width: 100vw;
    height: 100vh;
}


div.toolbar {
    display: flex;
    background-color: cadetblue;
    margin: 0;
    height: 5vh;
}

div.home-button {
    width: 100%;
    height: 5vh;
}

.fileshare .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.filters {
    float:right;
}

div.account-button {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

button {
    width: 100%;
    height: 100%;
}

div.explorer {
    background-color: dimgray;
    width: 10%;
    height: 100%;
}

div.folder_list {
    background-color: aquamarine;
    margin-left: 1em;
    height: 80%;
}