
.user-viewport {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.repos-view {
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
    background-color: #181c25;
}

.repos-list {
    max-height: 35vh;
    overflow: auto;
}

.file-view {
    background-color: rgb(40, 47, 61);
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
}

.repos-list button {
    background-color: rgba(54,59,72,0);
    border-right: 0 #0070f0 solid;
    border-left: 0 #0070f0 solid;
    width: 100%;
}

.repos-list button:hover {
    background-color: rgba(58, 68, 98, 0.76);
    border-right: 4px #0070f0 solid;
    border-left: 4px #0070f0 solid;
}

.separator {
    background-color: rgba(59,159,50,0);
    border-bottom: 1px #5b6574 solid;
    width: 100%;
}

.create-repos {
    background-color: #329f9f;
    margin-bottom: 10%;
}

.repos-list .selected-repos {
    background-color: rgba(0, 111, 238, 0.37);
    border: 1px #0070f0 dashed;
}

.last-separator {
    flex-grow: 1;
}

.repos-toolbar {
    display: flex;
    flex-direction: row;
}

.repos-toolbar p {
    flex-grow: 1;
}

.repos-toolbar button {
    height: 100%;
    background-color: #9f1000;
}

.repos-toolbar button:hover {
    height: 100%;
    background-color: #4d0801;
}

.login .delete-repos {
    display: flex;
    flex-direction: row;
}

.login .delete-repos input[type="button"] {
    background-color: #9f1000;
    color: white;
    font-size: 20px;
}

.login .delete-repos input[type="button"]:hover {
    background-color: #6b0b00;
}

.delete-repos input[type="submit"] {
    background-color: #d98000;
    color: #e0e0e0;
    font-size: 20px;
}
.delete-repos input[type="submit"]:hover {
    background-color: #b97200;
}

.delete-repos input[type="submit"]:disabled {
    background-color: #696666;
    color: #e0e0e0;
    font-size: 20px;
    cursor: progress;
}

.delete-repos-progress {
    width: 100%;
    height: 5px;
    background-color: #000000;
}

.delete-repos-progress div {
    background-color: #00ff04;
    height: 5px;
    width: 0;
}

.upload-file-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-grow: .95;
    background-color: #14171e;
    overflow: auto;
    border: 1px #4b4b4b solid;
}

.file-item {
    width: 100%;
    height: 40px;
    background-color: #25272c;
    display: flex;
    transition-duration: 0.15s;
}

.upload-file-list + button {

    min-height: 50px;
}

.file-item:hover {
    background-color: #5b6574;
}

.file-item p {
    margin-left: 20px;
    color: white;
    flex-grow: 1;
}

.file-item button {
    min-width: 50px;
    width: 50px;
    background-color: #4d0801;
}

.file-item button:hover {
    background-color: #910c00;
}

.progress-container {
    width: 90%;
    height: 10px;
    background-color: black;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #60f341;
}

.send-buttons {
    display: flex;
}

.object-button {
    height: 100px;
    margin: 10px;
    background-color: #3b3d56;
}