doctype html
html
    head
        title= title
        link(rel="icon", type="image/x-icon", href="/images/icons/favicon.ico")
        link(rel="stylesheet", href='/dist/index.css')
        meta(name="viewport", content="width=device-width, initial-scale=0.75, user-scalable=no")
    body
        if locals.common && locals.common.PAGE_CONTEXT
            script.
                const __PAGE_CONTEXT = JSON.parse(decodeURIComponent(`!{encodeURIComponent(JSON.stringify(locals.common.PAGE_CONTEXT))}`));
        else
            script.
                const __PAGE_CONTEXT = null;

        if locals.force_login
            script(type='module').
                window.auth.open_modal_signin()

        if locals.force_signin
            script(type='module').
                window.auth.open_modal_signup()

        // ################################## MODAL ##################################
        div(id='modal', class='modal-container', onclick="if (event.target === this) window.modal.close_modal()").modal-closed
            div().modal-box
                button(onclick="window.modal.close_modal()").floating-top-right.cancel-button X
                div(id='modal-content')

        // ################################## ERROR ##################################
        div(id='message-box').message-box-close
            button(id="message-box-close-button", onclick="window.message_box.close_message()").cancel-button.floating-top-right X
            h1
            p(id='message-box-message')


        // ################################## APP ##################################
        div.app-container
            div.toolbar
                div.title
                    p FileShare
                if !locals.common || !locals.common.PAGE_CONTEXT.connected_user
                    button(onclick = 'window.auth.open_modal_signup()') Nouveau Compte
                    button(onclick = 'window.auth.open_modal_signin()') Connexion
                else
                    p.Username Bienvenue #{common.PAGE_CONTEXT.connected_user.name.plain()} !
                    button(onclick='window.auth.logout()') Déconnexion

            div.viewport
                div
                    include repos_list
                    block content

script(src='/dist/index.js')