doctype html
html
    head
        title= title
        link(rel="icon", type="image/x-icon", href="/images/icons/favicon.ico")
    body
        script.
            const module = {}

        if locals.session_data && locals.session_data.selected_repos
            script.
                const current_repos = {
                    name: `!{locals.session_data.selected_repos.name}`,
                    access_key: `!{locals.session_data.selected_repos.access_key}`
                };
        else
            script.
                const current_repos = null;


        if locals.force_login
            script(type='module').
                module.auth.open_modal_signin()

        if locals.force_signin
            script(type='module').
                module.auth.open_modal_signup()

        // ################################## MODAL ##################################
        div(id='modal', onclick="if (event.target === this) module.modal.close_modal()").modal-closed
            div(id='modal-box')
                div(id='modal-content')
                div(id="modal-close-button", onclick="module.modal.close_modal()")
                    p X

        // ################################## ERROR ##################################
        div(id='message-box').message-box-close
            div(id="message-box-close-button", onclick="module.message_box.close_message()").cancel-button
                p X
            h1
            p(id='message-box-message')


        // ################################## APP ##################################
        div.app-container
            div.viewport
                div.toolbar
                    div.title
                        p FileShare
                    if !locals.session_data || !locals.session_data.user
                        div.login-buttons
                            button(onclick = 'module.auth.open_modal_signup()') Nouveau Compte
                            button(onclick = 'module.auth.open_modal_signin()') Connexion
                    else
                        div.login-buttons
                            p.Username Bonjour #{session_data.user.username} !
                            button(onclick='module.auth.logout()') Déconnexion

                div.user-viewport(id='mime_get_type')
                    include repos_list
                    block content

script(src='dist/main.js')