extends layout

block content
    if session_data.selected_repos
        div.file-view
            div.repos-toolbar
                div(id="current-path")
                    p Chargement...

                div(id="viewport_toolbar").tool-buttons
                    if session_data.selected_repos
                        button(onclick=`window.open('/archive/?repos=${session_data.selected_repos.access_key}&directory=' + (selector.get_current_directory() ? selector.get_current_directory().absolute_path() : ''), '_blank').focus();`)
                            img(src='/images/icons/icons8-download-96.png', alt='download')
                    if session_data.user && session_data.selected_repos.owner === session_data.user.id
                        button.delete(onclick=`upload.open_or_update_modal()`).plus-button +
                        button(onclick=`edit_repos.edit_repos('${session_data.selected_repos.access_key}')`).plus-button
                            img(src='/images/icons/icons8-edit-96.png', alt='modifier')
            div.hseparator
            div.repos_content
                div(id='file-list')
                div(id='directory-description')

        if locals.force_show_upload
            script(type='module').
                upload.open_or_update_modal();