div.repos-toolbar
    p(id="current-path") #{locals.session_data.selected_repos.name}:/
    if session_data.selected_repos
        button(onclick=`window.open('/repos/archive/?repos=${session_data.selected_repos.access_key}&directory=' + (selector.get_current_directory() ? selector.get_current_directory().absolute_path() : ''), '_blank').focus();`)
            img(src='/images/icons/icons8-download-96.png', alt='download')
    if session_data.user && session_data.selected_repos.owner.id === session_data.user.id
        button.delete(onclick=`upload.open_or_update_modal()`).plus-button +
        button(onclick=`delete_repos.delete_repos('${session_data.selected_repos.access_key}')`).cancel-button
            img(src='/images/icons/icons8-trash-52.png', alt='supprimer')