extends layout

block content
    div(id='user-settings-root')
        div.left-bar
            p Paramètres du compte
            div.hseparator
            button(onclick='window.user_settings.get().go_to_user(this)').setting-button Informations personnelles
            div.hseparator
            button(onclick='window.user_settings.get().go_to_repos(this)').setting-button Dépôts
            div.hseparator
        div(id='user-settings-container')

    script(type='module').
        window.user_settings.load();