
div.folder
    p Public files
    div.folder_list
        each item in public_files
            button #{item}
div.folder
    p Private files
    div.folder_list
        each item in private_files
            button #{item}