doctype html
html
    head
        title= title
        block css
        link(rel='stylesheet', href='/stylesheets/fileshare/layout.css')
    body
        script.
        include modale
        div.app-container
            div.viewport
                div.toolbar
                    div.title
                        p FileShare
                    include login-buttons
                block content