if !locals.session_data || !locals.session_data.user
    div.login-buttons
        button(onclick = 'module.login_forms.open_modal_signin()') Nouveau Compte
        button(onclick = 'module.login_forms.open_modal_signin()') Connexion
else
    div.login-buttons
        p.Username Bonjour #{session_data.user.username} !
        button(onclick='module.login_forms.logout()') Déconnexion

if locals.force_login
    script(type='module').
        module.login_forms.open_modal_signin()