div(id='modal', onclick="if (event.target === this) module.modal.close_modal()").modal-closed
    div(id='modal-box')
        div(id='modal-content')
        div(id="modal-close-button", onclick="module.modal.close_modal()")
            p X