link(rel='stylesheet', href='/stylesheets/fileshare/modale.css')

div(id='modale').modale-closed
    div(id='modale-box')
        div(id='modale-content')
        div(id="modale-close-button", onclick="close_modale()")
            p X


script.
    const modale = document.getElementById('modale');
    const modale_box = document.getElementById('modale-content');
    const modale_content = document.getElementById('modale-content');

    modale.addEventListener('click', (e) => {
        if (e.target.id === 'modale') {
            close_modale();
        }
    })

    function close_modale() {
        modale.classList.remove('modale-open')
        modale.classList.add('modale-closed')
    }

    function open_modale(content, custom_width = '800px', custom_height = '300px') {
        modale.classList.remove('modale-closed')
        modale.classList.add('modale-open')

        modale_box.style.width = custom_width;
        modale_box.style.height = custom_height;
        modale_content.innerHTML = "";
        modale_content.append(content);
        return modale_content;
    }