div.repos-toolbar
    p(id="current-path") #{locals.session_data.selected_repos.name}:/
    if session_data.user && session_data.selected_repos.owner.id === session_data.user.id
        button.delete(onclick=`module.upload.open_or_update_modal()`) Ajouter
        button.delete(onclick=`module.delete_repos.delete_repos(this)`) Supprimer