@import "../../../app/palette";

upload-window {
  pointer-events: auto;
  margin-top: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  box-shadow: $widget-shadow;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.06);
  transition-duration: 0.2s;
  min-width: 400px;
  max-width: 95%;
  width: 25%;
  height: 100%;

  .header {
    padding-left: 10px;
    display: flex;
    background-color: $primary;
    opacity: 70%;
    height: 35px;
    align-items: center;
    justify-content: center;
  }

  .pending {
    flex-grow: 1;
    background-color: $secondary;
  }

  .uploading {
  }
}