
.repos-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 52px;

  p {
    flex-grow: 1;
  }

  button {
    min-width: 0;
    margin-left: 20px;

    img {
      width: 30px;
    }
  }

  .cancel-button {
    height: 100%;
  }
}

.modal-content {
  .delete-repos {
    display: flex;
    flex-direction: row;

    input[type="button"] {
      background-color: #9f1000;
      color: white;
      font-size: 20px;
    }

    input[type="button"]:hover {
      background-color: #6b0b00;
    }

    input[type="submit"] {
      background-color: #d98000;
      color: #e0e0e0;
      font-size: 20px;
    }

    input[type="submit"]:hover {
      background-color: #b97200;
    }

    input[type="submit"]:disabled {
      background-color: #696666;
      color: #e0e0e0;
      font-size: 20px;
      cursor: progress;
    }
  }

  .delete-repos-progress {
    width: 100%;
    height: 5px;
    background-color: #000000;
  }

  .delete-repos-progress div {
    background-color: #00ff04;
    height: 5px;
    width: 0;
  }
}

#current-path {
  display: flex;
  margin: 0;

  p {
    display: flex;
    flex-grow: 0;
  }

  button {
    display: flex;
    height: 52px;
    min-width: 0;
    border-radius: 0;
    background-color: rgb(43, 48, 59);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 8px;

    img {
      margin: 0 20px;
      height: 30px;
      width: 30px;
    }

    &:hover {
      background-color: rgb(26, 30, 37);
    }
  }
}