#modal {
  .bottom-buttons {
    display: flex;
    margin-bottom: 25px;
    width: 85%;
  }

  input.plus-button {
    margin-right: auto;
  }

  input.confirm-button {
    margin-left: 20px;
  }

  .file-list-box {
    width: 90%;
    flex-grow: 1;
    border: 1px #4b4b4b solid;
    background-color: rgba(20, 23, 30, 1);
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .global-status {
    width: 100%;
    background-color: #171821;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    display: flex;
    margin-top: 5px;
  }

  .global-status p {
    position: relative;
    font-size: 12px;
    width: 100%;
    text-align: center;
    transform: translateY(5px)
  }

  .folder {
    width: 100%;
    min-height: 10px;
    transition-duration: 0.25s;

    .folder-button {
      background-color: #25203d;
      border: 2px rgba(20, 23, 30, 0) solid;
      display: flex;
      flex-direction: row;

      &:hover {
        background-color: #372f5d;
        border: 2px rgb(73, 88, 128) solid;
      }
    }

    .folder-content {
      padding-left: 20px;
      flex-direction: column;
      display: none;
    }
  }

  .file {
    flex-grow: 1;
    border-bottom: 1px #5b6574 dotted;
    transition-duration: 0.15s;
    display: flex;
    flex-direction: row;

    &:hover {
      border-bottom: 1px #5b6574 solid;
      background-color: rgb(0, 113, 128);

    }

    &:active {
      background-color: #0e0c17;
      border: 2px rgb(73, 88, 128) solid;
    }

    p {
      font-size: 12px;
      font-weight: lighter;
      flex-grow: 1;
      color: white;
      text-align: left;
      padding-left: 10px;
    }
  }

  h2 {
    font-size: 14px;
    flex-grow: 1;
  }

  .item-thumbnail {
    object-fit: cover;
    height: 100px;
    max-width: 100%;
  }
}