<h1>Supprimer ce dépôt et toutes ses données ?</h1>

<div class="progress-container">
    <div class="progress-bar"></div>
</div>
<form action="/repos/delete/?repos={{id}}" method="post" class="delete-repos">
<button onclick="modal.close_modal()" class="cancel-button">Annuler</button>
<input type="submit" value="Veuillez patienter" id="countdown-button" disabled>
</form>