@import "../../../../../stylesheets/palette";

carousel-viewport {
  width: 100%;
  display: flex;
  flex-grow: 1;
  height: 0;
  z-index: 150;
  pointer-events: none;

  audio {
    min-width: 85%;
  }

  .carousel-item-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      pointer-events: auto;
    }

    .item-large {
      display: flex;
      justify-content: center;

      img {
        object-fit: contain;
        max-width: 100%;
      }
    }
  }

  .carousel-description {
    max-width: 30%;
    border-left: dashed 1px #5b6574;
    display: none;
    overflow: scroll;
  }
}


@media (orientation: portrait) {
  carousel-viewport {
    flex-direction: column-reverse;

    .carousel-item-image {
      flex-grow: 1;
    }

    .carousel-description {
      max-width: unset;
      border-left: unset;
      border-bottom: dotted 2px #5b6574;
      margin-bottom: 10px;
      max-height: 40%;
    }
  }
}

carousel-overlay {
  display: flex;
  flex-direction: column;
  z-index: 101;
  width: 100%;

  .data-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      img {
        width: 20px;
      }
    }

    .title {
      margin: 0 auto;
      overflow: scroll;
      max-height: 30vh;

      h1 {
        text-align: center;
      }
    }

    .stats {
      display: flex;
      height: fit-content;

      img {
        width: 60px;
        object-fit: contain;
      }

      .substats {
        display: flex;
        flex-direction: column;

        p {
          text-wrap: nowrap;
          margin: auto 0;
        }
      }
    }

    .right-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 10px;

      button {
        min-width: unset;
        margin-right: 15px;
      }

      .plus-button {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);

        img {
          width: 15px;
        }
      }

      .cancel-button {
        width: 70px;
        height: 70px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .mobile-title {
    display: none;
  }
}


@media (orientation: portrait) {
  carousel-overlay {

    .data-container {
      .right-buttons {
        margin-left: auto;

        .action-buttons {
          flex-direction: row;
          display: flex;
        }
      }
    }

    .desktop-title {
      display: none;
    }

    .mobile-title {
      display: flex;
      justify-content: center;

      h1 {
        margin: 10px 0;
        text-align: center;
        font-size: 25px;
      }
    }
  }
}