<div class='object-button' onclick="directory_clicked">
    <div class="item-preview folder">
        <img src="/images/icons/icons8-folder-96.png" alt="ddosser">
        <p>dir.name</p>
    </div>


</div>
<script>
    function directory_clicked(event) {
        if (!event.target.classList.contains('open-context-button'))
            module.selector.set_current_dir({{dir}});
    }
</script>
