@import "../../app/palette";

.context-action-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: opaque($secondary);
  z-index: 200000;
  padding: 10px;
  box-shadow: $widget-shadow;
  border: 1px solid black;
  border-radius: 20px;
  user-select: none;

  p {
    width: 100%;
    text-align: left;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: $icon-filter;
  }

  button {
    transition-duration: 0.15s;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
}