<div class="modal-content">
    <h1>Supprimer ce dépôt et toutes ses données ?</h1>
    <form action="/repos/delete/?repos=${e}" method="post" class="delete-repos">
        <input type="button" value="Annuler" onclick="module.modal.close_modal()">
        <input type="submit" value="Oui : Supprimer" id="countdown-button">
    </form>
    <div class="delete-repos-progress">
        <div id="countdown-bar"></div>
    </div>
</div>