<div>
    <h1>Informations Utilisateur</h1>
    <div class="hseparator"></div>
    <h2>Données personnelles</h2>
    <div class="table">
        <div class="fields">
            <p>Nom</p>
            <p>Email</p>
            <p>Mot de passe</p>
            <p>Email publique</p>
            <p>Rôle</p>
        </div>
        <div class="values">
            <p>Jean-michel</p>
            <p>jeanmichel@perso.fr</p>
            <button>Changer le mot de passe</button>
            <label>
                <input type="checkbox">
            </label>
            <p>Invité</p>
        </div>
    </div>

    <div class="hseparator"></div>
    <div>
        <h2>Appareils connectés</h2>
        <div id="connected-devices-list">

        </div>
    </div>
    <div class="hseparator"></div>
</div>